# Airflow DAG defaults
USGS_FEED=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson
POLL_INTERVAL_MIN=5

# Postgres connection (Airflow & Spark)
PG_HOST=postgres
PG_PORT=5432
PG_DB=earthquakes
PG_USER=postgres
PG_PASSWORD=postgres
PG_SCHEMA=public
